    body {
      background-color: #ffffff;
      color: #21A179;
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Arial', sans-serif;
    }

    .senha {
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
    }

    .ultimas {
      margin-top: 40px;
      text-align: center;
    }

    .ultimas h2 {
      margin-bottom: 10px;
      font-size: 2rem;
    }

    .ultimas ul {
      list-style: none;
      padding: 0;
    }

    .ultimas li {
      font-size: 2rem;
      margin: 5px 0;
    }

    .dataHora {
      font-size: 1.5rem;
      margin-bottom: 30px;
      text-align: center;
      position: fixed;
      top: 0;
      padding-top: 50px;
      z-index: 1000;
    }

    .botao-voltar {
      color: #ffffff;
      background-color: #21A179;
      padding: 10px;
      position: fixed;
      right: 10px;
      bottom: 10px;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .botao-voltar:hover {
      background-color: #16392e;
    }

    label {
        position: fixed;
        right: 20px;
        top: 10px;
      }
      
      select {
      height: 30px;
      width:  130px;
      padding: 5px 10px;
      color: #21A179;
      background-color: #ddd5d5;
      border-radius: 5px;
      border: none;
      position: fixed;
      right: 20px;
      top: 35px;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }

    select:hover {
      background-color: #ccc;
    }

    #pega-tema {
      font-size: 0.813rem;
      width: 30px;
      padding: 5px;
      position: fixed;
      top: 10px;
      left: 10px;
      background-color: #ccc;
      border: none;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      transition: width 0.1s ease-in-out, background-color 0.2s ease;
    }

    #pega-tema:hover {
      width: 50px;
      background-color: #7b7b77;
    }

    /*tela inicial- darkmode*/

    body.dark-mode {
      color: #ffffff;
      background-color: #151414;
    }

    .dark-mode .botao {
      background-color: #16392e;
      transition: background-color 0.3s ease;
    }

    .dark-mode .botao:hover {
      background-color: #21A179;
    }

    .dark-mode select {
      color: #16392e;
      background-color: #ffffff;
      transition: background-color 0.3s ease;
    }

    .dark-mode select:hover {
      background-color: #ddd5d5;
    }

    /*admin + botão voltar- darkmode*/

    .dark-mode h1 {
      transition: color 0.3s ease;
    }

    .dark-mode .botoes button {
      color: white;
      background-color: #16392e;
    }

    .dark-mode .botoes button:hover {
      color: black;
      background-color: #bfc2ab;
    }

    .dark-mode .botao-voltar {
      background-color: #16392e;
    }

    .dark-mode .botao-voltar:hover {
      background-color: #21A179;
    }
    